* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

nav {
  background: #7ea8e8;
  border-bottom: 1px solid #c8b5b5;
  padding: 0 1.5rem;
  display: flex;
  justify-content: left;
  height: 100px;
  align-items: center;
}
.logo-png {
  width: 400px;
  height: 150px;
  text-decoration: #d57373;
  border-color: #333;
  left: 200px;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  background-color: none;
  justify-content: right;
}

.nav-links a {
  text-decoration: none;
  color: #e9dcdc;
  justify-content: flex-end;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  background: #7ea8e8;
  border: #7ea8e8;
}

.burger span {
  display: block;
  width: 22px;
  height: 2px;
  background: #333;
}

.mobile-menu {
  display: none;
  flex-direction: column-reverse;
  background: #d3b4b4;
  border-top: 1px solid #ddd;
  padding: 5rem 1.5rem;
  gap: 1rem;
}

.mobile-menu.open {
  display: flex;
}

.mobile-menu a {
  text-decoration: none;
  color: #333;
}

@media (max-width: 640px) {
  .nav-links {
    display: none;
  }
  .burger {
    display: flex;
  }
}
